<% provide(:title, 'About Us') %>
<html>
  <head>
  
  </head>
  <body>
	<h1>Help</h1>
	<p> This is the help file for the sample app which can also be found <a href="http://railstutorial.org/book">here</a></p>
	<p>Find me in app/views/static_pages/help.html.erb</p>
</body>
</html
